*{
    box-sizing: border-box;
    margin-top: 0;
    padding: 0;
    font-family:'Montserrat';
}




body{
      background: hsl(240, 78%, 98%);
      height: 100vh;
    

}
#header{
    text-align: center;
    justify-content: center;
    margin-top: 2rem;
    color: hsl(234, 14%, 74%);
}
#header h1{
    font-size:20px ;
    font-weight: bold;
}
#header h2{
    font-size: 15px;
    word-spacing: 5px;
    
}
#main{
    display: flex;
    text-align: center;
    margin-top: 7rem;
    justify-content: center;
    margin-bottom: 30px;
}
.card1{
    width: 250px;
    height: 370px;
    background-color:white;
    padding: 1rem;
    border-radius: 1rem ;
}
h2{
padding-top: 1rem;
font-size: 15px;
}
.card2{
    width: 300px;
    height: 400px;
    background-color:white;
    margin-top:-1.5rem;
    padding: 2rem;
    background-color:hsl(236, 72%, 79%);
    border-radius: 1rem;
}
.card3{
    width: 250px;
    height: 370px;
    background-color:white;
    padding: 1rem;
    border-radius: 1rem;
}

.card1 button{
    margin-top: -0.1rem;
    justify-content: center;
    background:hsl(236, 72%, 79%) ;
    font-size: 15px;
    font-weight: bold;
    color: white ;
    line-height: 1.15;
    letter-spacing: 1.5px;
    border: 1.5px solid white;
    padding: 0.75rem  1.75rem;
    width: 220px;
    height: 40px;
    border-radius: 0.5rem;
    

}
.card2 button{
    margin-top: 1rem;
    justify-content: center;
    background: white;
    font-size: 15px;
    font-weight: bold;
    color: hsl(236, 72%, 79%)  ;
    line-height: 1.15;
    letter-spacing: 1.5px;
    border: 1.5px solid white;
    width: 250px;
    height: 40px;
    padding: 0.75rem 1.75rem;
    border-radius: 0.5rem;
    

}
.card3  button{
    margin-bottom: 1rem;
    justify-content: center;
    background:hsl(236, 72%, 79%) ;
    font-size: 15px;
    font-weight: bold;
    color: white ;
    line-height: 1.15;
    letter-spacing: 1.5px;
    border: 1.5px solid white;
    padding: 0.75rem  1.75rem;
    width: 220px;
    height: 40px;
    border-radius: 0.5rem;
    

}
.card2 h2{
    color: white;
}
.card2 h1{
    color: white;
    font-size: 2rem;
}
@media screen and (min-width:375px){
    #main{
        flex-wrap: wrap;
    
    }
    .card1{
        margin-bottom: 5rem;
    }
    .card2{
        margin-bottom: 5rem;
    }
 

}